# ------------------------------------
# Build and Gradle
# ------------------------------------
.gradle/
build/

# ------------------------------------
# IntelliJ IDEA
# ------------------------------------
.idea/
*.iml
*.iws
*.ipr
out/

# ------------------------------------
# Logs
# ------------------------------------
*.log

# ------------------------------------
# OS-specific files
# ------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------
# Compiled files / jars
# ------------------------------------
*.class
*.jar
*.war
*.ear
